
html{
    font-family: "Urbanist", sans-serif;
}

#main-heading{
    
    font-size: 60px;
    color:black
}

p{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.5;
}

.section-border{
    /*width: 50%;*/
    
    color:#fff;
    background-color: rgb(0,0,0,0.6);
    /*border*/
    border: 15px solid #003180;

    /*border we can also use like this*/

   /* border-top: 10px solid red;
    border-right: 20px solid yellow;
    border-bottom: 30px solid green;
    border-left: 40px solid blue;*/
    padding:50px;  /* it is space between content and border */;
}
