
body{
    background-color:aqua;
    display: grid;
    place-items: center;
}

.hero-section{
    width:50%;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: "urbanist", sans-serif;
    font-size: 54px;
    font-weight: 900;
}

p{
        font-family: "urbanist", sans-serif;
        font-size: 20px;
}
a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
}
